.highlight .hll { background-color: #ffffcc; font-size: 12px; }
.highlight  { background: #f0f3f3; font-size: 12px; font-size: 12px; }
.highlight .c { color: #0099FF; font-style: italic; font-size: 12px; } /* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA; font-size: 12px; } /* Error */
.highlight .k { color: #006699; font-weight: bold; font-size: 12px; } /* Keyword */
.highlight .o { color: #555555; font-size: 12px; } /* Operator */
.highlight .cm { color: #0099FF; font-style: italic; font-size: 12px; } /* Comment.Multiline */
.highlight .cp { color: #009999; font-size: 12px; } /* Comment.Preproc */
.highlight .c1 { color: #0099FF; font-style: italic; font-size: 12px; } /* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic; font-size: 12px; } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000; font-size: 12px; } /* Generic.Deleted */
.highlight .ge { font-style: italic; font-size: 12px; } /* Generic.Emph */
.highlight .gr { color: #FF0000; font-size: 12px; } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold; font-size: 12px; } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00; font-size: 12px; } /* Generic.Inserted */
.highlight .go { color: #AAAAAA; font-size: 12px; } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold; font-size: 12px; } /* Generic.Prompt */
.highlight .gs { font-weight: bold; font-size: 12px; } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold; font-size: 12px; } /* Generic.Subheading */
.highlight .gt { color: #99CC66; font-size: 12px; } /* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold; font-size: 12px; } /* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold; font-size: 12px; } /* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold; font-size: 12px; } /* Keyword.Namespace */
.highlight .kp { color: #006699; font-size: 12px; } /* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold; font-size: 12px; } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold; font-size: 12px; } /* Keyword.Type */
.highlight .m { color: #FF6600; font-size: 12px; } /* Literal.Number */
.highlight .s { color: #CC3300; font-size: 12px; } /* Literal.String */
.highlight .na { color: #330099; font-size: 12px; } /* Name.Attribute */
.highlight .nb { color: #336666; font-size: 12px; } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold; font-size: 12px; } /* Name.Class */
.highlight .no { color: #336600; font-size: 12px; } /* Name.Constant */
.highlight .nd { color: #9999FF; font-size: 12px; } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold; font-size: 12px; } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold; font-size: 12px; } /* Name.Exception */
.highlight .nf { color: #CC00FF; font-size: 12px; } /* Name.Function */
.highlight .nl { color: #9999FF; font-size: 12px; } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold; font-size: 12px; } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold; font-size: 12px; } /* Name.Tag */
.highlight .nv { color: #003333; font-size: 12px; } /* Name.Variable */
.highlight .nx { font-size: 12px; }
.highlight .ow { color: #000000; font-weight: bold; font-size: 12px; } /* Operator.Word */
.highlight .p { font-size: 12px; }
.highlight .w { color: #bbbbbb; font-size: 12px; } /* Text.Whitespace */
.highlight .mf { color: #FF6600; font-size: 12px; } /* Literal.Number.Float */
.highlight .mh { color: #FF6600; font-size: 12px; } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600; font-size: 12px; } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600; font-size: 12px; } /* Literal.Number.Oct */
.highlight .sb { color: #CC3300; font-size: 12px; } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300; font-size: 12px; } /* Literal.String.Char */
.highlight .sd { color: #CC3300; font-style: italic; font-size: 12px; } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300; font-size: 12px; } /* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold; font-size: 12px; } /* Literal.String.Escape */
.highlight .sh { color: #CC3300; font-size: 12px; } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000; font-size: 12px; } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300; font-size: 12px; } /* Literal.String.Other */
.highlight .sr { color: #33AAAA; font-size: 12px; } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300; font-size: 12px; } /* Literal.String.Single */
.highlight .ss { color: #FFCC33; font-size: 12px; } /* Literal.String.Symbol */
.highlight .bp { color: #336666; font-size: 12px; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #003333; font-size: 12px; } /* Name.Variable.Class */
.highlight .vg { color: #003333; font-size: 12px; } /* Name.Variable.Global */
.highlight .vi { color: #003333; font-size: 12px; } /* Name.Variable.Instance */
.highlight .il { color: #FF6600; font-size: 12px; } /* Literal.Number.Integer.Long */

.type-csharp .highlight .k { color: #0000FF; font-size: 12px; }
.type-csharp .highlight .kt { color: #0000FF; font-size: 12px; }
.type-csharp .highlight .nf { color: #000000; font-weight: normal; font-size: 12px; }
.type-csharp .highlight .nc { color: #2B91AF; font-size: 12px; }
.type-csharp .highlight .nn { color: #000000; font-size: 12px; }
.type-csharp .highlight .s { color: #A31515; font-size: 12px; }
.type-csharp .highlight .sc { color: #A31515; font-size: 12px; }
